.content article {
    /* I promise to only use <pre> for code */
    pre {
        padding: 1em;
    }

    /* inline code via `backticks` */
    p > code {
        background-color: #EDD;
    }

    a {
        color: #D55;
    }

    div.embed {
        position: relative;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    div.embed.youtube {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
}
