/* Top level */
body {
    > header.nav {
        background: var(--header-background);
        width: 100%;

        a {
            color: var(--header-color);
            text-decoration: none;
            padding: 1.5rem 0;
            display: inline-block;

            &:hover {
                color: var(--lit-color);
            }
        }
        .logo {
            font-size: large;
        }

        > * {
            width: var(--width);
            margin: auto;
        }
    }

    > header.print .logo {
        font-size: xx-large;
    }
}
