/* Document root */
html {
    font-family: "source sans", sans-serif;
    font-weight: 400;
    font-size: 12pt;
}
code {
    font-family: "source code", monospace;
}
body {
    margin: 0;
    color: var(--page-color);
    background: var(--page-background);
}
main {
    a {
        color: var(--link-color);
        text-decoration: none;

        &:hover {
            color: var(--lit-color);
            text-decoration: underline;
        }
    }

    li::marker {
        color: var(--page-light-color);
    }
}

/* Common helpers */
.hidden, .print {
    display: none;
}

/* Distraction Engineer logotype */
.logo {
    font-family: "major mono", monospace;
    font-weight: 400;
}

/* Top level */
body {
    /* All children of the body, default to a fixed width */
    > * {
        width: var(--width);
        margin: auto;
    }
}
