/* Page Margins */
@media print {
    html {
        font-size: 10pt;
    }
    /* Remove web specific elements */
    body > header, 
    body > footer {
        display: none;
    }
    /* Print-only elements */
    .print {
        display: block !important;
    }
    /* Collapse subsections of the body */
    body > * {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}
@page {
    margin: 2cm;
}

/* Print style changes */
@media print {
    /* Includes URL's in brackets for the print version */
    main article p {
        /* include URL's in brackets for the print version */
        a:after {
            content: " ("attr(href)")";
        }
        /* remove styles */
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
