:root {
    --width: 1080px;

    --header-color: #EEE;
    --header-background: #222;

    --page-color: #222;
    --page-light-color: #555;
    --page-background: #EEE;

    --lit-color: #E55;
    --code-color: #DDD;
}

