{% macro hcard() %}
<div class="h-card" style="visibility: hidden">
    <span class="p-name">{{config.extra.author}}</span>
    <span class="p-given-name">Michael</span>
    <span class="p-family-name">Kasprzak</span>
    <span class="p-gender-identity">N;Demimale</span>
    <span class="p-nickname">PoV</span>
    <span class="p-nickname">PoVRAZOR</span>
    <span class="p-nickname p-callsign">VA3POV</span>
    <span class="p-note">{{config.extra.about}}</span>
    <span class="u-logo u-photo">{{config.extra.avatar}}</span>
    <a class="u-email" rel="me" href="mailto:the@distraction.engineer">e-mail</span>
    <a class="u-url u-uid" rel="me" href="https://distraction.engineer">distraction.engineer</a>
    <span class="u-category">developer</span>
    <span class="u-locality">London</span>
    <abbr class="u-region" title="Ontario">ON</span>
    <span class="u-country-name">Canada</span>
    <span class="u-key"></span>
    <a class="p-org h-card" href="https://interactivesnacks.com">Interactive Snacks Limited</a>
    <a class="p-org h-card" href="https://ludumdare.com">Ludum Dare</a>
</div>
{% endmacro hcard %}
