{% extends "base.html" %}

{% block content %}
<h1 class="title">The Distraction.Engineer</h1>

<p>Welcome to Mike's brand new ugly website. I'll make it pretty later.</p>

<h2>Blog and Projects Log</h2>
{% set_global projects_feed = [] %}
{% set_global projects_sections = [] %}

{# Grab all the projects and merge them into a single feed #}
{% set projects = get_section(path="projects/_index.md") %}
{% for project in projects.subsections %}
    {% set section = get_section(path=project) %}
    {% set_global projects_feed = projects_feed | concat(with=section.pages) %}
    {% set_global projects_sections = projects_sections | concat(with=section) %}
{% endfor %}

{# Grab the blog #}
{% set blog = get_section(path="words/_index.md") %}

{# Merge the blog and project feeds #}
{% set feed = blog.pages | concat(with=projects_feed) | filter(attribute="date") | sort(attribute="date") %}

<ul>
    {% for page in feed | reverse %}
        {% set prefix = "" %}
        {% if page.components.0 != "words" %}
            {% set parent = page.ancestors | last %}
            {% set page_section = get_section(path=parent) %}
            {% set prefix = "[" ~ page_section.title ~ "]" %}
        {% endif %}
        <li>{{page.date}} - {{prefix}} <a href="{{page.permalink | safe}}">{{page.title}}</a></li>
    {% endfor %}
</ul>

<h2>Notes feed</h2>

<h2>Creative Works feed</h2>

<h2>Off site</h2>
<p>
    <a href="https://twitter.com/mikekasprzak" rel="me">Twitter</a>, 
    <a href="https://youtube.com/mikekasprzak" rel="me">YouTube</a>, 
    <a href="https://github.com/mikekasprzak" rel="me">GitHub</a>, 
    <a href="https://ldjam.com/pov" rel="me">Ludum Dare</a>,
    <a href="https://jammer.bio/pov" rel="me">Jammer.bio</a>,
    <a href="https://gamedev.bio/mikekasprzak" rel="me">gamedev.bio</a>,
    <a href="https://toonormal.com">Old Blog</a>
</p>
{% endblock content %}
