{% extends "base.html" %}
{% import "_indieweb.html" as indieweb %}


{% block header %}
<header class="hero">
    <h1 class="logo">The Distraction<wbr>.<wbr>Engineer</h1>
</header>
{% endblock %}


{% block content %}
<p>Welcome to Mike's brand new ugly website. I'll make it pretty later.</p>

<h2>Blog and Projects Log</h2>
{% set_global projects_feed = [] %}
{% set_global projects_sections = [] %}

{# Grab all the projects and merge them into a single feed #}
{% set projects = get_section(path="projects/_index.md") %}
{% for project in projects.subsections %}
    {% set section = get_section(path=project) %}
    {% set_global projects_feed = projects_feed | concat(with=section.pages) %}
    {% set_global projects_sections = projects_sections | concat(with=section) %}
{% endfor %}

{# Grab the articles #}
{% set articles = get_section(path="articles/_index.md") %}

{# Grab the blog #}
{% set blog = get_section(path="words/_index.md") %}

{# Merge the blog and project feeds #}
{% set feed = blog.pages | concat(with=projects_feed) | concat(with=articles.pages) | filter(attribute="date") | sort(attribute="date") %}

<ul>
    {% for page in feed | reverse %}
        {% set prefix = "" %}
        {% set suffix = "" %}
        {% if page.components.0 == "projects" %}
            {% set parent = page.ancestors | last %}
            {% set page_section = get_section(path=parent) %}
            {% set suffix = "[Project: " ~ page_section.title ~ "]" %}
        {% endif %}
        {% if page.components.0 == "articles" %}
            {% if page.extra.sponsor %}
                {% set suffix = "[Article, sponsored by " ~ page.extra.sponsor ~ "]" %}
            {% else %}
                {% set suffix = "[Article]" %}
            {% endif %}
        {% endif %}
        <li>{{page.date}} - {{prefix}} <a href="{{page.permalink | safe}}">{{page.title}}</a> {{suffix}}</li>
    {% else %}
        No posts.
    {% endfor %}
</ul>

{% set notes = get_section(path="notes/_index.md") %}
{% if notes %}
<h2>Notes feed</h2>
<ul>
    {% for page in notes.pages %}
        <li><a href="{{page.permalink | safe}}">{{page.title}}</a></li>
    {% else %}
        No notes.
    {% endfor %}
</ul>
{% endif %}

{#<h2>Creative Works feed</h2>#}

<h2>Off site</h2>
<p>
    <a href="https://twitter.com/mikekasprzak" rel="me">Twitter</a>, 
    <a href="https://youtube.com/mikekasprzak" rel="me">YouTube</a>, 
    <a href="https://github.com/mikekasprzak" rel="me">GitHub</a>, 
    <a href="https://ldjam.com/users/pov" rel="me">Ludum Dare</a>,
    <a href="https://jammer.bio/pov" rel="me">Jammer.bio</a>,
    <a href="https://gamedev.bio/mikekasprzak" rel="me">gamedev.bio</a>,
    <a href="https://toonormal.com">Old Blog</a>
</p>

{{indieweb::hcard()}}
{#<pre>{{__tera_context | escape | safe}}</pre>#}
{% endblock content %}
