{% extends "base.html" %}
{% import "_indieweb.html" as indieweb %}


{% block header %}
<header class="hero">
    <h1 class="logo">The<wbr>.Distraction<wbr>.Engineer</h1>
</header>
{% endblock %}


{% block content %}
{% set_global MAX_WORDS = 8 %}
{% set_global MAX_WORKS = 6 %}
{% set_global MAX_RECIPES = 4 %}

<p>{{config.description}}</p>

{% set words = get_section(path="words/_index.md") %}
{% if words %}
{% set_global words_pages = words.pages %}
{% for subsection in words.subsections %}
    {% set section = get_section(path=subsection) %}
    {% set_global words_pages = words_pages | concat(with=section.pages) %}
{% endfor %}
<h2>Recent words</h2>
{{words.content | safe}}
{% for year, posts in words_pages | group_by(attribute="year") %}
<h3>{{year}}</h3>
<ul>
    {% for page in posts | slice(end=MAX_WORDS) %}
        <li><a href="{{page.permalink | safe}}">{{page.title}}</a></li>
    {% else %}
        <li>No words</li>
    {% endfor %}
</ul>
{% endfor %}
{% if words_pages | length > MAX_WORDS %}
<p><a href="/words">More words</a></p>
{% endif %}
{% endif %}

{#
{% set works = get_section(path="works/_index.md") %}
{% if works %}
{% set_global works_pages = works.pages %}
{% for subsection in works.subsections %}
    {% set section = get_section(path=subsection) %}
    {% set_global works_pages = works_pages | concat(with=section.pages) %}
{% endfor %}
<h2>Recent works</h2>
{{works.content | safe}}
<ul>
    {% for page in works_pages | slice(end=MAX_WORKS) %}
        <li><a href="{{page.permalink | safe}}">{{page.title}}</a></li>
    {% else %}
        <li>No works</li>
    {% endfor %}
</ul>
{% if works_pages | length > MAX_WORKS %}
<p><a href="/works">More works</a></p>
{% endif %}
{% endif %}
#}


{% set recipes = get_section(path="recipes/_index.md") %}
{% if recipes %}
<h2>Recipes</h2>
{{recipes.content | safe}}
<ul>
    {% for page in recipes.pages | slice(end=MAX_RECIPES) %}
        <li><a href="{{page.permalink | safe}}">{{page.title}}</a></li>
    {% else %}
        <li>No recipes</li>
    {% endfor %}
</ul>
{% if recipes.pages | length > MAX_RECIPES %}
<p><a href="/recipes">More recipes</a></p>
{% endif %}
{% endif %}

<h2>Elsewhere</h2>
<p>Can't get enough</p>
<ul>
    <li><a href="https://twitter.com/mikekasprzak" rel="me">Twitter</a></li>
    <li><a href="https://youtube.com/mikekasprzak" rel="me">YouTube</a></li>
    <li><a href="https://github.com/mikekasprzak" rel="me">GitHub</a></li>
    <li><a href="https://ldjam.com/users/pov" rel="me">Ludum Dare</a></li>
    <li><a href="https://jammer.bio/pov" rel="me">Jammer.bio</a></li>
    <li><a href="https://gamedev.bio/mikekasprzak" rel="me">gamedev.bio</a></li>
    <li><a href="https://toonormal.com">Old Blog</a></li>
</ul>

{{indieweb::hcard()}}
{#<pre>{{__tera_context | escape | safe}}</pre>#}
{% endblock content %}
