{% extends "base.html" %}

{% block content %}
{% if section.title %}
  {% set_global title = section.title %}
{% else %}
  {% set_global title = section.path %}
{% endif %}

{% set_global pages = section.pages %}
{% for subsection in section.subsections %}
  {% set section = get_section(path=subsection) %}
  {% set_global pages = pages | concat(with=section.pages) %}
{% endfor %}

<h1 class="logo">{{title}}</h1>
{{section.content | safe}}
{% for year, posts in pages | group_by(attribute="year") %}
<h2>{{year}}</h2>
<ul>
  {% for page in posts %}
  <li>
    <a href="{{page.permalink | safe}}">{{page.title}}</a>
    {% if page.description %}
      <span> - {{page.description | safe}}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock content %}
